.categoryPage {
    @apply w-screen h-screen;
    display: grid;
    grid-template:
        "category content" auto
        "nav content" 50px/120px;

    .nav {
        grid-area: nav;
        @apply border-r border-t;
    }
    .content {
        grid-area: content;
    }
    .category {
        @apply border-r;
        grid-area: category;
    }
}
