.categoryPage {
    @apply w-screen h-screen text-xs  text-slate-500;
    display: grid;
    grid-template:
        "category content" auto
        "nav content" 30px/120px;

    .nav {
        grid-area: nav;
        @apply border-r border-t flex items-center justify-center gap-4;
    }
    .content {
        grid-area: content;
    }
    .category {
        @apply border-r bg-slate-50 overflow-y-auto;
        grid-area: category;
        .item {
            @apply px-1 py-2 truncate cursor-pointer block;
            &.active{
                @apply text-white bg-blue-700  rounded-md mx-1;
            }
        }
    }
}
