.contentList-page {
    display: grid;
    grid-template: "list content" auto / 150px auto;
    .list {
        grid-area: list;
        @apply h-screen bg-slate-50 overflow-auto pt-2;
        .list-item {
            @apply block px-2 py-2 text-slate-700   truncate cursor-pointer;
            &.active {
                @apply text-white bg-blue-700 rounded-md mx-1;
            }
        }
    }
    .content {
        grid-area: content;
        @apply h-screen;
    }
}
