.content-page {
    display: grid;
    grid-template: "list content" auto / 150px auto;
    .list {
        grid-area: list;
        @apply h-screen bg-slate-50;
    }
    .content {
        grid-area: content;
        @apply h-screen;
    }
}
