.contentList-page {
    display: grid;
    grid-template: "list content" auto / 180px auto;
    .list {
        grid-area: list;
        @apply h-screen bg-slate-50 overflow-auto pt-2;
        .list-item {
            @apply px-2 py-2 text-slate-700  cursor-pointer flex items-center border-b border-slate-200;
            &.active {
                @apply text-white bg-blue-700 rounded-md mx-1;
                .time {
                    @apply text-white;
                }
            }
            .time {
                @apply text-slate-500 opacity-85 ml-2;
            }
        }
    }
    .content {
        grid-area: content;
        @apply h-screen;
    }
}
